{% extends 'Feedback/base.html' %}
{% block title %}
Feedback
{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class= "d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Please Provide your feedback</h1>
  <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>-->
    </div>
    <!-- Content Row -->

    <div class="row">
      <!-- Area Chart -->
      <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Your feedback helps to improve our service</h6>

            <div class="dropdown no-arrow">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          {% load static %}
          <br>
          <div class="card-body">
              <form  method="POST" class="user" action="" enctype="multipart/form-data">
                {% csrf_token %}
                 <p style="color: red;">{{ field_error }}</p>
                 <p style="color: red;">{{ had_error }}</p>

                 <strong >Email ID</strong>
                 <br>
                 <br>
                 <input type="email" id="id_mobile_number"  name="mobile_number" placeholder="Enter Your email address">
                 <br>
                 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                 <div class="g-recaptcha" data-sitekey="6LfCS9kUAAAAAMa0VzzJWWImOJqxHWwiSkL7iPvp"></div>
                 <br>
                 <button type="submit" id ="random" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                  Continue
                 </button>
              
              </form>
          </div>
          
      </div>


{% endblock %}